extends:
  - '@commitlint/config-conventional'
rules:
  scope-case:
    - 0
  type-enum:
    - 2
    - always
    -
      - clean
      - build
      - chore
      - ci
      - docs
      - feat
      - fix
      - perf
      - refactor
      - revert
      - style
      - test
