#sapper {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.md a {
  color: coral;
}

.md h2 {
  text-align: center;
  margin-top: 2rem;
}

.md ul {
  padding-left: 2rem;
  list-style: initial;
}
