#svelte {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.md a {
  color: coral;
}

.md a:hover {
  text-decoration: underline;
}

.md h2 {
  text-align: center;
  margin-top: 3rem;
}

.md ul {
  padding-left: 2rem;
  list-style: initial;
}

.md blockquote {
  border-left: 3px solid #ccc;
  padding-left: 0.5rem;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
